body {
  /* background-color: #242424; */
  /* background-color: rgb(0, 17, 67); */
  background-color: black;
  color: white;
  margin: 0;
  display: flex;
  place-items: center;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
/*  */
*::-webkit-scrollbar {
  display: none;
}
button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.nav-link-outer-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.nav-link-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
}

@keyframes homepageAnim {
  from {
    background-size: 100%;
  }
  to {
    background-size: 130%;
  }
}
@keyframes homepageMobileAnim {
  from {
    background-size: 150%;
  }
  to {
    background-size: 200%;
  }
}
@keyframes homepageRevertAnim {
  from {
    background-size: 130%;
  }
  to {
    background-size: 100%;
  }
}
@keyframes homepageMobileRevertAnim {
  from {
    background-size: 200%;
  }
  to {
    background-size: 150%;
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
a {
  cursor: pointer;
  font-weight: 500;
  text-decoration: inherit;
  color: white;
}
a.active {
  color: white;
}

.icon-bg {
  margin: 0 0.5em;
  padding: 0.65em 0.75em 0.35em 0.75em;
  border-radius: 100%;
  /* background: rgba(0, 0, 0, 1); */
  /* background: rgb(255, 255, 255); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.homepage-icons {
  display: inline-flex;
}
.breathing {
  animation-name: breathAnim;
  animation-duration: 1s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background-size: 100%;
}
@keyframes breathAnim {
  from {
    background-size: 100%;
  }
  to {
    background-size: 103%;
    transform: rotate(-0.2deg);
  }
}

@media screen and (max-width: 700px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    gap: 1em;
    font-size: 1.35rem;
  }
  .nav-links-closed {
    display: none;
  }
  .nav-link-container {
    padding: 0 2em;
    margin: 0;
  }
  .section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2em;
  }
  .section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2em;
  }
  .homepage-pic1 {
    height: 70vw;
    width: 70vw;
    margin: 1em auto;
  }
  .homepage-pic2 {
    /* border: 3px dashed red; */
    height: 80vw;
    width: 80vw;
    margin: 3em auto auto auto;
  }
  .footer-inner-container {
    flex-direction: column;
  }
  .homepage-icons {
    margin-left: -0.6em;
  }
  .homepage-jumbo-text {
    font-size: 1.75rem;
  }
  .bg-before {
    background-size: 200%;
    height: 100vh;
    width: 100vw;
  }
  .bg-starter {
    background-size: 150%;
    height: 100vh;
    width: 100vw;
  }
  .homepage-bg {
    background-size: 150%;
    height: 100vh;
    width: 100vw;
    animation-name: homepageMobileRevertAnim;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: smooth;
  }
  .homepage-bg-after {
    height: 100vh;
    width: 100vw;
    background-size: 200%;
    animation-name: homepageMobileAnim;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: smooth;
  }
  .about-item {
    height: 120px;
    width: 120px;
    border: 1px solid rgb(38, 159, 235);
    transition: 0.25s;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    /* animation: aboutItemAnim;
    animation-duration: 0.3s;
    animation-iteration-count: 1; */
  }
  .about-item-container {
    height: 124px;
    width: 124px;
  }
  .about-item-container:hover .about-item {
    /* padding: 2px;
    margin: -2px auto auto -2px;
    border: 2px solid orangered; */
  }
  .about-items-container {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    width: 70%;
    margin: 0 auto 4em auto;
  }
  .item-container-title {
    line-height: 0em;
  }
  .nav-links {
    animation-name: navAnimation;
    animation-duration: 0.35s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  .shrink {
    animation-name: navAnimation2;
    animation-duration: 0.35s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
  .homepage-introduction {
    text-align: left;
    font-size: 1.25rem;
    width: 90%;
    max-width: 400px;
  }
  .typeText {
    line-height: 0rem;
    font-size: 2rem;
  }
  .about-pic {
    height: 80vw;
    width: 80vw;
  }
}
@media screen and (min-width: 700px) {
  .typeText {
    line-height: 0.8rem;
    font-size: 3rem;
  }
  .nav-links {
    flex-direction: row;
    display: flex;
    gap: 2em;
  }
  .nav-links-closed {
    flex-direction: row;
    display: flex;
    gap: 2em;
  }
  .burger {
    display: none;
  }
  .burger2 {
    display: none;
  }
  .nav-link-container {
    padding: 0 4em;
  }
  svg {
    margin: 0;
  }
  .parallax-layer {
    padding: 0 5em;
  }
  .section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 7em 10% 10em 10%;
    /* margin-top: 5em;
    margin-bottom: 10em; */
  }
  .section2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 10em;
  }
  .homepage-pic1 {
    height: 400px;
    width: 400px;
    margin: 1em 0;
  }
  .homepage-pic2 {
    /* border: 3px dashed red; */
    height: 35vw;
    min-width: 35vw;
    float: right;
    margin: 1em 0;
  }
  .bg-before {
    background-size: 130%;
    height: 100vh;
    width: 100vw;
  }
  .bg-starter {
    background-size: 100%;
    height: 100vh;
    width: 100vw;
  }
  .homepage-bg {
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    animation-name: homepageRevertAnim;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: smooth;
  }
  .homepage-bg-after {
    height: 100vh;
    width: 100vw;
    background-size: 130%;
    animation-name: homepageAnim;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: smooth;
  }

  .about-item {
    height: 180px;
    width: 180px;
    border: 1px solid rgb(38, 159, 235);
    transition: 0.25s;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    /* animation: aboutItemAnim;
    animation-duration: 0.3s;
    animation-iteration-count: 1; */
  }
  .about-item-container {
    height: 184px;
    width: 184px;
  }
  .about-item-container:hover .about-item {
    /* padding: 2px;
    margin: -2px auto auto -2px;
    border: 2px solid orangered; */
  }
  .about-items-container {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    width: 70%;
    margin: 0 auto 4em auto;
  }
  .homepage-introduction {
    text-align: left;
    font-size: 1.25rem;
    width: 100%;
    max-width: 600px;
  }
  .about-pic {
    height: 40vw;
    width: 40vw;
  }
}

@keyframes navAnimation {
  from {
    margin-top: -50vh;
    opacity: 0;
  }
  to {
  }
}
@keyframes navAnimation2 {
  from {
  }
  to {
    margin-top: -50vh;
    opacity: 0;
  }
}

.burger {
  animation-name: burgerAnim;
  animation-duration: 0.26s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.burger2 {
  animation-name: burgerAnim2;
  animation-duration: 0.26s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.fade {
  animation-name: fadeAnim;
  animation-duration: 0.26s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes burgerAnim {
  from {
    opacity: 0;
  }
  to {
  }
}
@keyframes burgerAnim2 {
  from {
    opacity: 0;
  }
  to {
  }
}
@keyframes fadeAnim {
  from {
  }
  to {
    opacity: 0;
  }
}
a.active:hover {
  transition: 0.5s;
  color: white;
  color: rgb(38, 159, 235);
}
.underline {
  height: 3px;
  width: 0%;
  transition: 0.5s;
}
.nav-link:hover .underline {
  transition: 0.5s;
  width: 100%;
}
.nav-link-git {
  background-color: rgb(80, 42, 95);
  transition: 0.25s;
}
.nav-link-git:hover {
  background-color: rgb(98, 53, 118);
  margin-top: -2px;
  margin-bottom: 2px;
}
.clr-1 {
  color: rgb(38, 159, 235);
}
.bg-1 {
  background: rgb(38, 159, 235);
}
h3 div {
  height: 1rem;
}
/* ############################### */
.textEnter {
  color: rgba(255, 255, 255, 1);
  margin-left: 0%;
  animation-name: textEnterAnim;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  /* background: rgba(0, 0, 0, 0.4); */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  text-shadow: 1px 1px 1px black;
}
@keyframes textEnterAnim {
  from {
    color: rgba(255, 255, 255, 0);
    margin-left: -100%;
    text-shadow: none;
  }
  to {
    color: rgba(255, 255, 255, 1);
    margin-left: 0%;
    text-shadow: 1px 1px 1px black;
  }
}
.textLeave {
  color: rgba(255, 255, 255, 0);
  margin-left: -100%;
  animation-name: textLeaveAnim;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes textLeaveAnim {
  from {
    color: rgba(255, 255, 255, 1);
    margin-left: 0%;
    /* background: rgba(0, 0, 0, 0.4); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-shadow: 1px 1px 1px black;
  }
  to {
    color: rgba(255, 255, 255, 0);
    margin-left: -100%;
  }
}
.textstarter {
  color: rgba(255, 255, 255, 0);
  margin-left: -100%;
}
/* ############################# */
.portfolioAnim {
  animation-name: rotate;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.waive-start {
  display: inline-block;
  transform-origin: bottom;
  transform: rotate(20deg);
}
.waive {
  display: inline-block;
  animation-name: waiveAnim;
  animation-duration: 0.3s;
  animation-iteration-count: 5;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
  transform-origin: bottom;
  transform: rotate(20deg);
}
@keyframes waiveAnim {
  from {
    transform-origin: bottom;
    transform: rotate(15deg);
  }
  to {
    transform-origin: bottom;
    transform: rotate(50deg);
  }
}
.animateSkill {
  animation: aboutItemAnim;
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}
@keyframes aboutItemAnim {
  from {
    padding: 0px;
  }
  to {
    padding: 5px;
    border: 2px solid white;
    margin: -5px auto auto -5px;
    background-size: 35%;
  }
}
.goDown {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;

  border-top: 40px solid rgba(255, 255, 255, 0.5);
  animation-name: goDownAnim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}
@keyframes goDownAnim {
  from {
    opacity: 20%;
    margin-bottom: 0;
  }
  to {
    opacity: 50%;
    margin-bottom: -20px;
  }
}
.project-inner {
  transition: 0.5s;
  background-size: 100%;
}
.project-outer:hover .project-inner {
  background-size: 88%;
}
.project-outer {
  border-radius: 3px;
  transition: 0.5s;
  border: 1px solid rgba(38, 159, 235, 0.5);
  background: rgba(255, 255, 255, 0.2);
}
.project-outer:hover {
  border: 1px solid rgb(38, 159, 235);
  box-shadow: 0px 0px 50px rgb(38, 159, 235);
  background: rgba(255, 255, 255, 0.5);
}
.project-mobile-inner {
  transition: 0.5s;
  background-size: 35%;
}
.project-outer:hover .project-mobile-inner {
  background-size: 31.5%;
}
.project-btn {
  background: rgba(38, 159, 235, 0.5);
  padding: 0.5em 1em;
  border-radius: 3px;
}
.project-btn {
  font-size: 0rem;
  transition: 0.5s;
  cursor: pointer;
}
.project-outer:hover .project-btn {
  transition-delay: 0.25s;
  background: rgb(38, 159, 235);
  font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
  .project-btn-containers {
    width: 58%;
  }
}
@media screen and (min-width: 700px) {
  .project-btn-containers {
    width: 25%;
  }
}
.info-btn {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s;
  color: rgb(38, 159, 235);
  text-shadow: 0px 2px 2px rgb(38, 159, 235);
}
.project-outer:hover .info-btn {
  font-size: 3rem;
  color: rgb(38, 159, 235);
  text-shadow: 0px 2px 2px white;
}
.resume-btn {
  display: inline-block;
  background: rgb(38, 159, 235);
  color: white;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
.resume-btn-container {
  margin: 2em 0;
}
